/* Write your code here. */
.thumbnail-image {
  /* margin-right: 10px; */
  width: 100%;
}
button {
  width: 60px;
  padding: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  outline: pointer;
  outline: none;
}
.thumbnail-item-container {
}
.thumbnain-click {
  opacity: 0.5;
}
